version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "deps"
    labels:
      - "dependencies"
    groups:
      npm-minor-patch:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 5

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "ci"
    labels:
      - "dependencies"
      - "ci"
    groups:
      actions-minor-patch:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 5
